# Практична робота № 3 Яременко Вікторія

1. Прочитайте csv файл (метод read_csv)
2.Виведіть перші 10 рядків (метод head)

In [1]:
import pandas as pd

# Завантажте датасет
file_path = "/content/sample_data/bestsellers with categories.csv"

# Прочитайте csv файл
df = pd.read_csv(file_path)
print(df.head(10))

                                                Name  \
0                      10-Day Green Smoothie Cleanse
1                                  11/22/63: A Novel
2            12 Rules for Life: An Antidote to Chaos
3                             1984 (Signet Classics)
4  5,000 Awesome Facts (About Everything!) (Natio...
5      A Dance with Dragons (A Song of Ice and Fire)
6  A Game of Thrones / A Clash of Kings / A Storm...
7                     A Gentleman in Moscow: A Novel
8      A Higher Loyalty: Truth, Lies, and Leadership
9                          A Man Called Ove: A Novel

                     Author  User Rating  Reviews  Price  Year        Genre
0                  JJ Smith          4.7    17350      8  2016  Non Fiction
1              Stephen King          4.6     2052     22  2011      Fiction
2        Jordan B. Peterson          4.7    18979     15  2018  Non Fiction
3             George Orwell          4.7    21424      6  2017      Fiction
4  National Geographic Kids          4.8     7665     12  2019  Non Fiction
5       George R. R. Martin          4.4    12643     11  2011      Fiction
6       George R. R. Martin          4.7    19735     30  2014      Fiction
7               Amor Towles          4.7    19699     15  2017      Fiction
8               James Comey          4.7     5983      3  2018  Non Fiction
9           Fredrik Backman          4.6    23848      8  2016      Fiction

3.Виведіть розміри датасету (метод shape)

In [3]:
print(df.shape)
books_amount = df.shape[0]
print("Датасет зберігає кількість книг у розмірі:", books_amount)

(550, 7)
Датасет зберігає кількість книг у розмірі: 550

4. Змініть назви всіх колонок: назва з маленької букви, без пробілів через підкреслення.

In [6]:
df.columns = ['name', 'author', 'user_rating', 'reviews', 'price', 'year', 'genre']

# Виведіть перші 5 рядків для перевірки
print(df.head())

                                                name  \
0                      10-Day Green Smoothie Cleanse
1                                  11/22/63: A Novel
2            12 Rules for Life: An Antidote to Chaos
3                             1984 (Signet Classics)
4  5,000 Awesome Facts (About Everything!) (Natio...

                     author  user_rating  reviews  price  year        genre
0                  JJ Smith          4.7    17350      8  2016  Non Fiction
1              Stephen King          4.6     2052     22  2011      Fiction
2        Jordan B. Peterson          4.7    18979     15  2018  Non Fiction
3             George Orwell          4.7    21424      6  2017      Fiction
4  National Geographic Kids          4.8     7665     12  2019  Non Fiction

5.Вивести кількість пропусків у кожному стовпчику.

In [8]:
missing_values = df.isnull().sum()
print(missing_values)

# Перевірте, чи є пропуски в змінних (Так / Ні)
if missing_values.sum() > 0:
    print("Так, є пропуски в змінних.")
else:
    print("Ні, пропусків в змінних немає.")

name           0
author         0
user_rating    0
reviews        0
price          0
year           0
genre          0
dtype: int64
Ні, пропусків в змінних немає.

6. За допомогою методу unique  перевірте. Які є унікальні жанри в стовпці genre

In [10]:
# Отримайте унікальні жанри зі стовпця "genre"
unique_genres = df['genre'].unique()

# Виведіть унікальні жанри
print("Унікальні жанри:")
print(unique_genres)

Унікальні жанри:
['Non Fiction' 'Fiction']

7. Визначте максимальну, мінімальну, медіанну ціну за допомогою методів  max, min, mean, median

In [12]:
# Максимальна ціна
max_price = df['price'].max()

# Мінімальна ціна
min_price = df['price'].min()

# Середня ціна
mean_price = df['price'].mean()

# Медіанна ціна
median_price = df['price'].median()

# Виведіть результати
print("Максимальна ціна:", max_price)
print("Мінімальна ціна:", min_price)
print("Середня ціна:", mean_price)
print("Медіанна ціна:", median_price)

Максимальна ціна: 105
Мінімальна ціна: 0
Середня ціна: 13.1
Медіанна ціна: 11.0

8. Виконайте наступні завдання з пошуку і сортування даних

In [16]:
# Який рейтинг у датасеті найвищий?
max_rating = df['user_rating'].max()
print("Найвищий рейтинг у датасеті:", max_rating)

# Скільки книг мають такий рейтинг?
books_with_max_rating = df[df['user_rating'] == max_rating]
count_books_with_max_rating = len(books_with_max_rating)
print("Кількість книг з таким рейтингом:", count_books_with_max_rating)

# Яка книга має найбільше відгуків?
book_with_max_reviews = df[df['reviews'] == df['reviews'].max()]
print("Книга яка має найбільше відгуків:")
print(book_with_max_reviews[['name', 'reviews']])

# З тих книг, що потрапили до Топ-50 у 2010 році, яка книга найдорожча?
books_2010 = df[df['year'] == 2010]
most_expensive_2010 = books_2010[books_2010['price'] == books_2010['price'].max()]
print("Найдорожча книга серед книг 2010 року що потрапили до Топ-50:")
print(most_expensive_2010[['name', 'price']])

# Скільки книг жанру Fiction потрапили до Топ-50 у 2012 році?
fiction_2012 = df[(df['year'] == 2012) & (df['genre'] == 'Fiction')]
count_fiction_2012 = len(fiction_2012)
print("Кількість книг жанру Fiction у 2012 році що потрапили до Топ-50:", count_fiction_2012)

# Скільки книг з рейтингом 4.9 потрапило до рейтингу у 2010 та 2011 роках (використовуйте | або метод isin)?
rating_4_9_2010_2011 = df[(df['user_rating'] == 4.9) & (df['year'].isin([2010, 2011]))]
count_rating_4_9_2010_2011 = len(rating_4_9_2010_2011)
print("Кількість книг з рейтингом 4.9 у 2010 та 2011 роках:", count_rating_4_9_2010_2011)

Найвищий рейтинг у датасеті: 4.9
Кількість книг з таким рейтингом: 52
Книга яка має найбільше відгуків:
                        name  reviews
534  Where the Crawdads Sing    87841
Найдорожча книга серед книг 2010 року що потрапили до Топ-50:
                                                  name  price
272  Publication Manual of the American Psychologic...     46
Кількість книг жанру Fiction у 2012 році що потрапили до Топ-50: 21
Кількість книг з рейтингом 4.9 у 2010 та 2011 роках: 1

9. Вивести максимальну і  мінімальну ціну для жанру Fiction I NonFiction (за допомогою методів  groupby та agg, для підрахунку мінімальних та максимальних значень використовуйте max та min). Використовуйте тількі потрібні вам стовпці.

In [19]:
#  обчислюємо максимальну та мінімальну ціну для кожного жанру
genre_prices = df.groupby('genre')['price'].agg(['max', 'min'])

# Перейменовуємо стовпці
genre_prices = genre_prices.rename(columns={'max': 'Максимальна ціна', 'min': 'Мінімальна ціна'})
print(genre_prices)

             Максимальна ціна  Мінімальна ціна
genre
Fiction                    82                0
Non Fiction               105                0

Висновок: У цій практичній я вивчила основи роботи з даними в мові програмування Python.Основні завдання, які ми виконали, включали: Зчитування даних з CSV-файлів за допомогою методу read_csv.
Оглядати перших рядків та загальної структури даних за допомогою методу head та shape.
Роботу з пропусками в даних, зокрема заміну їх на відповідні значення та перевірку кількості пропусків за допомогою методів isna та sum.
Обчислення статистичних показників, таких як середнє значення, максимум та мінімум, за допомогою методів mean, max та min.
Вивчення унікальних значень та їх кількості у стовпцях за допомогою методу unique.
Групування та агрегування даних за певними категоріями за допомогою методів groupby та agg.
Завдяки цим діям ми змогли вивести корисну інформацію з наданих датасетів та розв'язати різні аналітичні завдання, такі як визначення максимальних та мінімальних значень, обчислення середніх значень, виявлення унікальних категорій тощо. Ця робота показала важливість обробки та аналізу даних у реальних завданнях та дослідженнях.